<!-- BSC Thesis

Author
 - José Ángel Martín Baos

Bootstrap template based on "SB Admin template" under MIT License.
https://startbootstrap.com/template-overviews/sb-admin/
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>IoT road traffic and air pollution monitoring</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

  <script>
  function includeHTML() {
    var z, i, elmnt, file, xhttp;
    /*loop through a collection of all HTML elements:*/
    z = document.getElementsByTagName("*");
    for (i = 0; i < z.length; i++) {
      elmnt = z[i];
      /*search for elements with a certain atrribute:*/
      file = elmnt.getAttribute("w3-include-html");
      if (file) {
        /*make an HTTP request using the attribute value as the file name:*/
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            if (this.status == 200) {elmnt.innerHTML = this.responseText;}
            if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
            /*remove the attribute, and call this function once more:*/
            elmnt.removeAttribute("w3-include-html");
            includeHTML();
          }
        }
        xhttp.open("GET", file, true);
        xhttp.send();
        /*exit the function:*/
        return;
      }
    }
  }
  </script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="about.html">BSc. Thesis</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div w3-include-html="{{ url_for('static', filename='menu_elements.html') }}"></div>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-center" >
            {{email}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logout">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main page -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Configuration</a>
        </li>
      </ol>
      <div class="row">
        <div class="col-12">

          <!-- List of notifications table-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell"></i> List of active notifications
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th width="40%">Notification email</th>
                      <th width="18%" class="text-center">CO notification level</th>
                      <th width="18%" class="text-center">LPG notification level</th>
                      <th width="18%" class="text-center">Vehicles per hour notification level</th>
                      <th width="6%" class="text-center">Select</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for notification in notifications %}
                    <tr>
                      <td>{{notification['email']}}</td>
                      <td align="center">{{notification['COLimit']}}</td>
                      <td align="center">{{notification['LPGLimit']}}</td>
                      <td align="center">{{notification['carsLimit']}}</td>
                      <td align="center">
                        <form action="/configuration.html" method="post">
                          <input type="hidden" name="action" value="Select">
                          <button type="submit" name="notification" value="{{notification['email']}}" class="fa fa-2x fa-check-circle">
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Last updated: {{ last_update }}</div>
          </div>


          {% if selected_not != None %}
            <form action="/configuration.html" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fa fa-fw fa-bell"></i>
                      </div>
                      <div class="mr-5">{{selected_not['email']}}</div>
                      <input type="hidden" name="email" value="{{selected_not['email']}}">
                    </div>
                    <a class="card-footer text-white clearfix medim z-1">
                      <span class="float-left">CO notification level: <input type="number" name="COLimit" min="1" step="0.01" value="{{selected_not['COLimit']}}"></span><br><br>
                      <span class="float-left">LPG notification level: <input type="number" name="LPGLimit" min="1" step="0.01" value="{{selected_not['LPGLimit']}}"></span><br><br>
                      <span class="float-left">Vehicles per hour notification level: <input type="number" name="carsLimit" min="1" step="0.01" value="{{selected_not['carsLimit']}}"></span><br><br>
                      <span class="float-left">Note: Leave the corresponging box empty to remove that level notification.</span><br>
                    </a>

                    <div class="row">
                      <div class="col-lg-2">
                      </div>
                      <div class="col-lg-4">
                        <div class="card text-white bg-success o-hidden h-100">
                          <div class="card-body">
                            <div class="card-body-icon">
                              <i class="fa fa-fw fa-edit"></i>
                            </div>
                            <div class="mr-5">Update notification</div>
                          </div>
                          <a class="card-footer text-white clearfix medim z-1">
                            <span class="float-left"><input type="submit" name="action" value="Update"></span>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="card text-white bg-danger o-hidden h-100">
                          <div class="card-body">
                            <div class="card-body-icon">
                              <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <div class="mr-5">Remove notification</div>
                          </div>
                          <a class="card-footer text-white clearfix medim z-1">
                            <span class="float-left"><input type="submit" name="action" value="Remove"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <br>


                  </div>
                </div>



              </div>
            </form>

          {% else %}

            <form action="/configuration.html" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fa fa-fw fa-bell"></i>
                      </div>
                      <div class="mr-5">Add new notification</div>
                    </div>
                    <a class="card-footer text-white clearfix medim z-1">
                      <span class="float-left">Notification email address: <input type="email" name="email"></span><br><br>
                      <span class="float-left">CO notification level: <input type="number" name="COLimit" min="1" step="0.01" value="{{selected_not['COLimit']}}"></span><br><br>
                      <span class="float-left">LPG notification level: <input type="number" name="LPGLimit" min="1" step="0.01" value="{{selected_not['LPGLimit']}}"></span><br><br>
                      <span class="float-left">Vehicles per hour notification level: <input type="number" name="carsLimit" min="1" step="0.01" value="{{selected_not['carsLimit']}}"></span><br><br>
                      <span class="float-left">Note: Leave the corresponging box empty to remove that level notification.</span><br><br>
                      <span class="float-left"><input type="submit" name="action" value="Create"></span>
                    </a>

                    <br>


                  </div>
                </div>



              </div>
            </form>


          {% endif %}




        </div>
      </div>
    </div>


    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © José Ángel Martín Baos 2018</small>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html?logout=1">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
  </div>

  <script>
  includeHTML();
  </script>
</body>

</html>
